*{
    margin: 0 ;
    padding: 0 ;

}

html{
    min-width: 800px ;
    min-height: 100vh;
    box-sizing: border-box ;
}

body{
    padding: 20px auto ;
    margin-right: 100px ;
    margin-left: 100px ;
    margin: 0 auto;
    background-color: rgba(207, 190, 36, 0.425) ;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    padding: 20px ;
    font-size: 20px ;
    text-decoration: none ;
}
a:visited{
    background-color: blueviolet ;
}

a:hover{
    background-color: rgb(99, 99, 158) ;
    color: black ;

}

nav{
    border: 2px solid  ;
    justify-content: left ;
    display: flex ;
    gap: 2;
    background-color: blue ;
}

h1{
    margin-top: 20px;
    margin-left: 20px ;
}

.Tqronopinion{
    background-color: linear-gradient(to bottom, rgb(199, 86, 199), whitesmoke ) ;
    background-image: url(/jon-tyson-i7ZXmllhFfg-unsplash.jpg) ;
    background-size: cover ;
    border: 2px solid black ;
    margin-right: auto ;
}
